@font-face{
    font-family: '';
    src: url();
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plain Light';
    background-color: #0b0b0b;
}
#crs{
    background-color: rgb(49, 49, 49);
    width: 2vw;
    border-radius: 50%;
    position: fixed;
    border: 0.5px solid #fff;
    z-index: 9;
    height: 2vw;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 25vh 20vw;
    color: white;
    text-transform: uppercase;
}
.line h1 {
    font-size: 6.5vw;
    font-weight: 500;
}

.line {
    /* background: red; */
    height: fit-content;
    /* width: 300vw; */
    /* margin-bottom: 5px; */
    overflow: hidden;
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
    width: 75vw;
}

.line h2 {
    font-family: 'silk serif';
    font-weight: 400;
    font-size: 5vw;
    text-transform: uppercase;
    /* animation-name: anime; */
    opacity: 0;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 900;
        opacity: 1;
    }

    48%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 900;
        opacity: 0;

    }
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 900;
        opacity: 1;

    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 900;
        opacity: 0;


    }
}

.line1-part1 h5:nth-child(1) {
    text-align: right;
    /* background-color: red; */
    width: 5vw;
}

.line1-part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1vw;
}

.line1-part1 h5 {
    font-size: 3.1vw;
    font-weight: 200;
    font-family: 'silk serif';
}



.main {
    position: relative;
    background-color: #151515;
}

#page1 {
    /* background-color: #0e0e0e; */
    height: 100vh;
    width: 100%;
}

#page1 #nav {
    color: white;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 4.8vw;
}

#nav-part-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part-2 h4 {
    font-size: 0.9vw;
    font-weight: 550;
}

.hero{
    /* background: red; */
    width: 72%;
    margin-left: 32%;
    color: rgb(196, 196, 196);
    font-weight: 500;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}

.hero:nth-child(2){
    margin-top: 11vh;
}
.hero h1 {
    font-size: 6.9vw;
    text-transform: uppercase;
    line-height: 7vw;
    font-weight: 600;
}
.hero h2 {
    font-size: 6.9vw;
    text-transform: uppercase;
    line-height: 7vw;
    font-weight: 600;
}
.hero h3 {
    font-size: 6.9vw;
    text-transform: uppercase;
    line-height: 7vw;
    font-weight: 600;
}

.hero h2:hover{
    -webkit-text-stroke: 2px  #fff;
    color: transparent;
    font-weight: 500;
}

#page2 {
    width: 100%;
    height: 100vh;
    padding-top: 17vh;
    position: relative;

}

#video-container {
    height: 66vh;
    /* overflow: hidden; */
    width: 71vw;
    position: relative;
    left: 28%;
    background-image:url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");

}

#video-container  img {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    object-fit: cover;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-cursor {
    background: yellow;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 80%;
    z-index: 9999;

}


#video-cursor i {
    font-size: 2.4vw;
    background-color: yellow;
    color: white;
}


#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(25, 25, 25);
    position: relative;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: rgb(25, 25, 25);
}